*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.firstdivcont{
    background-color: rgb(25, 65, 77); 
      
}
#rubyreview{
    width: 30px;
    position: absolute;
    top: 0.4cm;
    color: white;
    margin-left: 3cm;
}
.signupbuttons {
    position: absolute;
    font-size: 35px;
    top: 0.1cm;
    left: 40cm;
   
}
.signupbuttons button{
    
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.signupbuttons:hover button{
    background-color: rgb(248, 115, 20);
    color: white;
    font-weight: bold;
}
.signupbuttons:hover button:not(:hover){
    color: black;
    background-color: white;
    font-weight: 100;
}
.navbar{
    text-align: center;
    padding: 15px;
    background-color: rgb(3, 3, 37);    
}
.navbar a{
    /* position: relative; */
    text-decoration: none;
    color: white;
    font-weight: bolder;
    z-index: 2;
    margin-left: 1cm;
    font-size: 25px;

   
}
.navbar:hover{
    background-color: rgb(3, 3, 37);
}
.navbar:hover  a{
    color: rgb(248, 115, 20);
    animation: glowing 1s ease-in-out infinite alternate;
    
}
.navbar:hover a:not(:hover){
    color: white;
    /* opacity: 0.3; */
    /* filter: blur(0px); */
    
    
 } 
.bookandtittle{
    display: flex;
    gap: 4cm;
    margin-left: 5cm;
    padding: 80px; 
    /* text-align: center;  */
}
#book{
    border-radius: 1cm;
    
}
h1{
    margin-top: 5cm;
    font-size: 70px;
    color: rgb(248, 115, 20);
    
   
}
.seconddiv{
    background-color: rgb(3, 3, 37);
    display: flex;
    gap: 10cm;
    padding-top: 2cm;
    padding-bottom: 2cm;

}
h4{
    margin-left: 7cm;
    color: rgb(248, 115, 20);
    font-size: 70px;


}
h7{
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.7cm;
    
}
.images{
    padding-top: 3cm;
    padding: 2.5cm;
    background-color: rgb(25, 65, 77);
}
    
@keyframes scroll-left {
    from{
        transform: translate(100%);
    }

    to{
        transform: translateX(-100%);
    }
}
.scrollingimg{
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;

}
.image{
    width: 350px;
    height: 500px;
    border-radius: 0.5cm;
    
   
    
}
.momandbaby{
    width: 350px;
    height: 500px;
    margin-left: 3cm;
    border-radius: 0.5cm;
}
.mom{
    width: 350px;
    height: 500px;
    margin-left: 3cm;
    border-radius: 0.5cm;
}
.trevorstand{
    width: 350px;
    height: 500px;
    margin-left: 3cm;
    border-radius: 0.5cm;
}
.thequote{
    display:flex;
    gap: 8.7cm;
    padding-top: 3cm;
    padding-bottom: 1cm;
    background-color: rgb(3, 3, 37);
    
}
h6{
    margin-top: 2cm;
    margin-left: 7cm;
    font-size: 20px;
    color: rgb(248, 115, 20);
    font-weight: 100;
}
.abouttrevor{
    display: flex;
    background-color: rgb(25, 65, 77);
    gap: 4cm;
    padding-bottom: 2cm;
}  
.trevorinsuite{
    margin-top: 3cm;
    margin-left: 7cm;
    width: 500px;
    border-radius: 0.5cm;
}
.abouttrevor > img:hover{
    width: 520px;
    
}

.abouttrevor h7{
    margin-top: 4.5cm;
    color: white;
}
marquee{
    width:"100%";
    
    
}
.footer{
    background-color:  rgb(3, 3, 37);
    color: white;
    display: flex;
    padding-bottom: 2cm;
}
.icons{
    margin-left: 8cm;
    margin-top: 2cm;
}
.icons i{
    margin-top: 1cm;
    margin-left: 0.5cm;
    background-color:  rgb(248, 115, 20);
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
   
}

hr{
    width: 7cm;
    margin-top: 1cm;
}
h5{
    font-size: 18px;
    padding-top: 1cm;
    margin-left: 0.3cm;
}
#myreviewlogo{
    width: 100px;
    margin-top: 3cm;
    margin-left: 8cm;
    
}
h3{
    font-size: 30px;
    margin-left: 7cm;
    color: rgb(248, 115, 20);
}
.subscribe input{
    width: 10cm;
    height: 1cm;
    margin-left: 7cm;
    margin-top: 1cm;
}
.subscribe{
    margin-top: 3cm;
}
.subscribe button{
    height: 1.1cm;
    width: 3cm;
    background-color: rgb(133, 129, 127);
    color: black;
    border: none;
    
}
.subscribe button:hover{
    color:white;
    background-color: rgb(248, 115, 20);
    font-weight: bold;
}
